# Git repository
.git
.gitignore

# Node & frontend
node_modules
/public/hot
npm-debug.log
yarn-error.log
tsconfig.tsbuildinfo

# PHP / Laravel
vendor
.env
.env.*
.phpunit.cache
.phpunit.result.cache
.phpactor.json
/bootstrap/cache/*.php

# IDE / editor
/.idea
/.vscode
/.zed
/.fleet

# Docker related
docker-data

# Misc / OS
.DS_Store
Thumbs.db

# App Stuff
/.ai