services:
  freshbite-db:
    image: mariadb:12.0.2-noble
    container_name: freshbite-db
    restart: unless-stopped
    env_file: .env.freshbite-db
    volumes:
      - ./docker-data/freshbite-db:/var/lib/mysql
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    logging:
      driver: "json-file"
      options:
        max-size: "500M"
        max-file: "3"
    ports:
      - "3309:3306"

  freshbite-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: freshbite-app
    restart: unless-stopped
    env_file: .env.freshbite-app
    volumes:
      - ./storage:/var/www/html/storage
      - ./bootstrap/cache:/var/www/html/bootstrap/cache
    logging:
      driver: "json-file"
      options:
        max-size: "500M"
        max-file: "3"
    depends_on:
      freshbite-db:
        condition: service_healthy

  freshbite-proxy:
    image: nginx:1.29.3-alpine
    container_name: freshbite-proxy
    restart: unless-stopped
    ports:
      - "89:80"
    volumes:
      - .:/var/www/html
      - ./docker/nginx.conf:/etc/nginx/conf.d/default.conf
    logging:
      driver: "json-file"
      options:
        max-size: "500M"
        max-file: "3"
    depends_on:
      - freshbite-app

  freshbite-queue:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: freshbite-queue
    restart: unless-stopped
    env_file: .env.freshbite-app
    volumes:
      - .:/var/www/html
    command: php artisan queue:work --verbose --tries=3 --timeout=90
    logging:
      driver: "json-file"
      options:
        max-size: "500M"
        max-file: "3"
    depends_on:
      - freshbite-app

  freshbite-scheduler:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: freshbite-scheduler
    restart: unless-stopped
    env_file: .env.freshbite-app
    volumes:
      - .:/var/www/html
    command: sh -c "while true; do php artisan schedule:run --verbose; sleep 60; done"
    logging:
      driver: "json-file"
      options:
        max-size: "500M"
        max-file: "3"
    depends_on:
      - freshbite-app
