*
!.gitignore

!assets/

!assets/images/
!assets/images/logo.png
!assets/images/favicon.png
!assets/images/preview-light.png
!assets/images/preview-dark.png

!avatars/
!avatars/admin.jpg

!banner-images/
!banner-images/banner-home-1.jpg

!product-images/
!product-images/apple-fuji-1.png
!product-images/apple-fuji-2.png
!product-images/banana-cavendish-1.png
!product-images/banana-cavendish-2.png
!product-images/carrot-organic-1.png
!product-images/broccoli-import-1.png
!product-images/chili-seeds-1.png
